{# src/OC/PlatformBundle/Resources/views/Default/recherche.html.twig #}

{% extends "LocIHMLocationBundle::layout.html.twig" %}

{% block title %}
	{{ 'word.reserver'|trans|title}} - {{ parent() }}
{% endblock %}


{% block corps %}

	<p>Test: {{ veh }}</p>
	
		

{% endblock %}

{% block javascript %}
	{{ parent() }}
	
	
	
{% endblock %}