{% extends "LocIHMLocationBundle::layout.html.twig" %}


{% block corps %}
	<div class="row">
		<div class="small-6 small-centered columns">
			<h3>Inscrivez-vous</h3>

			<div class="panel">
				{% block fos_user_content %}
					{% include "LocIHMLocationBundle:Registration:register_content.html.twig" %}
				{% endblock fos_user_content %}
			</div>

		</div>
	</div>
{% endblock %}