loc_ihm_location_vehicule:
    resource: "@LocIHMLocationBundle/Resources/config/routing/vehicule.yml"
    prefix:   /admin/vehicule

loc_ihm_location_typevehicule:
    resource: "@LocIHMLocationBundle/Resources/config/routing/typevehicule.yml"
    prefix:   /admin/typevehicule

loc_ihm_location_forfait:
    resource: "@LocIHMLocationBundle/Resources/config/routing/forfait.yml"
    prefix:   /admin/forfait

loc_ihm_location_contrat:
    resource: "@LocIHMLocationBundle/Resources/config/routing/contrat.yml"
    prefix:   /admin/contrat

loc_ihm_location_agence:
    resource: "@LocIHMLocationBundle/Resources/config/routing/agence.yml"
    prefix:   /admin/agence

loc_ihm_location_admin:
    resource: "@LocIHMLocationBundle/Resources/config/routing/admin.yml"
    prefix: /admin

loc_ihm_location_homepage:
    path:     /
    defaults: { _controller: LocIHMLocationBundle:Default:index}

loc_ihm_location_recherche:
    path:   /user/recherche
    defaults: { _controller: LocIHMLocationBundle:User:recherche}

loc_ihh_location_reserver:
    path: /user/reserver
    defaults: { _controller: LocIHMLocationBundle:User:reserver}

loc_ihm_location_recherche_forfait:
    path: /user/getForfait
    defaults: { _controller: LocIHMLocationBundle:User:rechercherForfait}
    requirements:
        _method: POST

loc_ihm_location_user_index:
    path: /user/
    defaults: { _controller: LocIHMLocationBundle:User:index}

loc_ihm_location_user_delete:
    path:     /user/{id}/delete
    defaults: { _controller: LocIHMLocationBundle:User:delete }

loc_ihm_location_admin_users:
    path: /admin/users
    defaults: { _controller: LocIHMLocationBundle:Admin:users }

loc_ihm_location_admin_add_user:
    path: /admin/users/add
    defaults: { _controller: LocIHMLocationBundle:Admin:addUser }

loc_ihm_location_admin_delete_user:
    path: /admin/users/{username}/delete
    defaults: { _controller: LocIHMLocationBundle:Admin:deleteUser }

loc_ihm_location_admin_demote_user:
    path: /admin/users/{username}/demote
    defaults: { _controller: LocIHMLocationBundle:Admin:demoteUser }

loc_ihm_location_admin_promote_user:
    path: /admin/users/{username}/promote
    defaults: { _controller: LocIHMLocationBundle:Admin:promoteUser }